# Data
consolidado_despesas.csv
consolidado_validado.csv
operadoras_ativas.csv
consolidado_enriquecido.csv
despesas_agregadas.csv 
Teste_*.zip

# Cache
__pycache__
.pytest_cache

# Virtual environment
.venv/
venv/
env/